In [1]:
# importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# importing dataset
dataset = pd.read_csv("3-Data Preprocessing.csv")
dataset.head(2)

   Serial   Country  Age  Salary Purchased
0       1     India   38   68000        No
1       2  Pakistan   43   54000       Yes

In [3]:
# extracting the dependent and independent variables
x = dataset.iloc[:,:-1].values
y = dataset.iloc[:,3].values
x , y

(array([[1, 'India', 38, 68000],
        [2, 'Pakistan', 43, 54000],
        [3, 'France', 30, 47000],
        [4, 'Pakistan', 23, 40000],
        [5, 'France', 35, 55000],
        [6, 'Pakistan', 39, 38000],
        [7, 'India', 49, 50000],
        [8, 'France', 26, 64000],
        [9, 'Pakistan', 38, 39000],
        [10, 'India', 34, 40000]], dtype=object),
 array([68000, 54000, 47000, 40000, 55000, 38000, 50000, 64000, 39000,
        40000]))

In [4]:
# handle missing values
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
imputer = imputer.fit(x[:, 1:3])
x[:, 1:3] = imputer.transform(x[:, 1:3])

In [5]:
# encoding the categorical data
from sklearn.preprocessing import LabelEncoder  
label_encoder_x= LabelEncoder()  
x[:, 0]= label_encoder_x.fit_transform(x[:, 0])

In [6]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder  
label_encoder_x= LabelEncoder()  
x[:, 0]= label_encoder_x.fit_transform(x[:, 0]) 

from sklearn.compose import ColumnTransformer
column_transformer = ColumnTransformer(
    transformers=[
        ('encoder', OneHotEncoder(), [0])
    ],
    remainder='passthrough'
)
x = np.array(column_transformer.fit_transform(x))

labelencoder_y= LabelEncoder()  
y= labelencoder_y.fit_transform(y)

x, y

(array([[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 'India', 38,
         68000],
        [0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 'Pakistan', 43,
         54000],
        [0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 'France', 30,
         47000],
        [0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 'Pakistan', 23,
         40000],
        [0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 'France', 35,
         55000],
        [0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 'Pakistan', 39,
         38000],
        [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 'India', 49,
         50000],
        [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 'France', 26,
         64000],
        [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 'Pakistan', 38,
         39000],
        [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 'India', 34,
         40000]], dtype=object),
 array([8, 5, 3, 2, 6, 0, 4, 7, 1, 2]))

In [7]:
# spliting the training and testing data
from sklearn.model_selection import train_test_split  
x_train, x_test, y_train, y_test= train_test_split(x, y, test_size= 0.2, random_state=0)